body{
  background: url(31.jpg) no-repeat ;
  background-size: cover;
  background-position: bottom right;
  height: 98vh;
}
h2{
  font-style: italic;
  text-decoration: underline;
}

.pinguins{
  margin-right: 20px;
}

.inform{
  margin: 0 0 10px 0;
}

.container{
  display: flex;
}

.spisok{
  max-width: 500px;
  margin-right: 400px
}

.row{
  margin-top: -30px;
  margin-left: -20px;
  display: flex;
}

.h4{
  color:orangered;
}